# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env
.venv
env/

# Project specific
lib/data/
lib/best.pt
lib/config/config.json
runs/

# IDE
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
